* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: hsl(0, 0%, 95%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.global-structure {
    width: 920px;
    height: 500px;
    display: inline-flex;
}

.column-structure {
    width: 33.3%;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
}

.column-structure__title {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    padding-top: 1.9375rem;
}

.column-structure__description {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 1.5625rem;
    line-height: 25px;
}

.column-structure__button {
    background-color: hsl(0, 0%, 95%);
    height: 48px;
    width: 150px;
    border-radius: 24px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5.1875rem;
}

.column-structure__button:hover {
    color: hsl(0, 0%, 95%) !important;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.sedans-style {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.sedans-style .column-structure__button {
    color: hsl(31, 77%, 52%);
}

.suvs-style {
    background-color: hsl(184, 100%, 22%);
}

.suvs-style .column-structure__button {
    color: hsl(184, 100%, 22%);
}

.luxury-style {
    background-color: hsl(179, 100%, 13%);
    border-radius:  0 10px 10px 0;
}

.suvs-style .column-structure__button {
    color: hsl(179, 100%, 13%);
}

@media (max-width: 375px){
    .global-structure {
        width: 325px;
        height: 1325px;
        display: flex;
        flex-direction: column;
    }

    .column-structure {
        height: 33.3%;
        width: fit-content;
    }

.column-structure__button {
    margin-top: 1.5625rem;
}

    .sedans-style {
        border-radius: 10px 10px 0 0;
    }

    .luxury-style {
        border-radius: 0 0 10px 10px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}